{% extends 'base.html.twig' %}

{% block title %} Process Can 't work on our Machines
{% endblock %}
{% block body %}
    You can't delete a machine, because only it can run process!
{% endblock %}
{% block content %}
    add new Machine or change Process!
        {% endfor%}
    </div>
{% endblock %}
