{% extends 'base.html.twig' %}

{% block title %} Process Can 't work on our Machines
{% endblock %}

{% block body %}
    Process Can 't work on our Machines
{% endblock %}
{% block content %}
    add new Machine or change Process!
        {% endfor%}
    </div>
{% endblock %}
